.library-section {
  display: flex;
  flex-direction: column;
}

.library-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.books-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px;
}
