.reading-list-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.reading-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.reading-list li {
  background-color: transparent;
  border: none;
}

.reading-list li main,
.reading-list li footer {
  display: none;
}
