.book,
.book-pinned {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ddd;
  padding: 10px;
  transition: background-color ease 0.3s;
}

.book-pinned {
  background-color: #dddddd4f;
}

.book:hover,
.book-pinned:hover {
  background-color: #dddddd67;
  cursor: pointer;
}

.book header,
.book-pinned header {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.book main,
.book-pinned main {
  display: flex;
  justify-content: center;
}

.book footer,
.book-pinned footer {
  display: flex;
  flex-direction: column;
}

.book-title {
  font-size: larger;
}

.book-author {
  align-self: flex-start;
  font-size: medium;
}

.book-pages {
  align-self: flex-end;
  font-size: small;
}
